main {
	min-height: 80vh;
}

body {
	font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
}

.rating span {
	margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}
.carousel-caption {
	position: absolute;
	top: 0;
}

.carousel-caption h2 {
	color: rgb(83, 90, 119);
}

.carousel img {
	height: 320px;
	/* padding: 30px; */
	/* margin: 40px; */
	/* border-radius: 70%; */
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}
.carousel a {
	margin: 0 auto;
}

.carousel-indicators {
	background-color: rgba(206, 234, 244, 0.065) !important;
}

@media (max-width: 900px) {
	.carousel-caption h2 {
		font-size: 2.5vw;
	}
}

.bg-white {
	background-color: #fff;
}
.bg-light-gray {
	background-color: rgb(224, 224, 224) !important;
}

.color-red {
	color: red !important;
}

.carousel-indicators {
	background-color: orange;
}

/* -------------------- */
/* SINGEL PRODUCT ITEM */
/* ------------------ */

/* .card-product-grid {
	box-shadow: 0 1px 2px rgb(51 51 51 / 7%);
	border-radius: 0.3rem;
} */

.img-wrap {
	position: relative;
	text-align: center;
	overflow: hidden;
	display: block;
	height: 220px;
	/* border: 1px solid green; */
	/* border-bottom: 1px solid rgb(219, 219, 219); */
	padding: 1.5rem;
}

.img-wrap img {
	/* height: 100%; */
	max-height: 100%;
	max-width: 100%;
	width: auto;
}

.card-title {
	max-height: 48px;
	overflow: hidden;
}
a.product-title {
	color: rgb(101, 100, 106);
	font-size: 16px;
	font-weight: 300;
}

.product-item-card:hover {
	/* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; */
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), 0 4px 6px 0 rgba(0, 0, 0, 0.14);
}

header {
	/* background: #252550; */
	/* border-bottom: #d7d2da 2px solid; */
	border-bottom: #dddee0 1px solid;
	margin-bottom: 1.5rem;
}

header > .navbar {
	/* padding: 1rem; */
	/* background-color: #04224e; */
	background-color: #052057;
}

.navbar-footer {
	/* background-color: rgb(236, 171, 52); */
	color: #6a6e77;
	font-weight: 400;
}

.dropdown-item.active,
.dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #d8d8d8;
}

.navbar-footer a {
	color: rgb(52, 52, 52);
}

.gold {
	color: gold;
}

.btn-outline-google-plus {
	color: #dd4b39;
	border-color: #dd4b39;
}

.btn-outline-google-plus:hover {
	color: #fff;
	background-color: #dd4b39;
	border-color: #dd4b39;
}

.btn-outline-facebook {
	color: #3c5a99;
	border-color: #3c5a99;
}
.btn-outline-facebook:hover {
	color: #fff;
	background-color: #3c5a99;
	border-color: #3c5a99;
}

.auth-btns a {
	font-size: 1.2rem;
	font-weight: 500;
}

.navbar-tool {
	position: relative;
	display: flex;
	align-items: center;
}
.navbar-tool-icon-box {
	color: #d3dae7;
}
.navbar-tool-icon-box {
	position: relative;
	width: 2.875rem;
	height: 2.875rem;
	transition: color 0.25s ease-in-out;
	/* border-radius: 50%; */
	line-height: 2.625rem;
	text-align: center;
}
.navbar-tool-icon {
	font-size: 1.25rem;
	line-height: 2.875rem;
}

div.yt-spec-icon-badge-shape__badge {
	position: absolute;
	background-color: rgb(214, 0, 0);
	top: 0px;
	left: 24px;
	display: inline-block;
	padding: 0px 4px;
	min-width: 8px;
	max-width: 18px;
	height: 16px;
	border: 2px solid var(--yt-spec-brand-background-primary);
	border-radius: 22px;
	text-align: center;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}

.cart-plus-icon {
	color: limegreen;
	float: right;
	margin: 0.4rem;
	font-size: 1.5rem;
	cursor: pointer;
}
.cart-plus-icon:hover {
	color: rgb(11, 156, 11);
}

.department-dropdown .dropdown-menu {
	display: none;
}
.department-dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	display: block;
}
