main {
	min-height: 80vh;
}

h3 {
	padding: 1rem 0;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}

.rating span {
	margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}
.carousel-caption {
	position: absolute;
	top: 0;
}

.carousel-caption h2 {
	color: rgb(83, 90, 119);
}

.carousel img {
	height: 320px;
	/* padding: 30px; */
	/* margin: 40px; */
	/* border-radius: 70%; */
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}
.carousel a {
	margin: 0 auto;
}

.carousel-indicators {
	background-color: rgba(206, 234, 244, 0.065) !important;
}

@media (max-width: 900px) {
	.carousel-caption h2 {
		font-size: 2.5vw;
	}
}

.bg-white {
	background-color: #fff;
}
.bg-light-gray {
	background-color: rgb(224, 224, 224) !important;
}

.color-red {
	color: red !important;
}

.carousel-indicators {
	background-color: orange;
}

/* -------------------- */
/* SINGEL PRODUCT ITEM */
/* ------------------ */

.card-product-grid {
	box-shadow: 0 1px 2px rgb(51 51 51 / 7%);
	border-radius: 0.3rem;
}

.img-wrap {
	position: relative;
	text-align: center;
	overflow: hidden;
	display: block;
	height: 220px;
	/* border: 1px solid green; */
	/* border-bottom: 1px solid rgb(219, 219, 219); */
	padding: 1.5rem;
}

.img-wrap img {
	/* height: 100%; */
	max-height: 100%;
	max-width: 100%;
	width: auto;
}

.card-title {
	max-height: 48px;
	overflow: hidden;
}
a.product-title {
	color: rgb(101, 100, 106);
	font-size: 16px;
	font-weight: 300;
}

.card-product-grid:hover,
.card.card-product-list:hover {
	box-shadow: 0 3px 10px rgb(51 51 51 / 10%);
	transition: 0.2s;
}

header {
	/* background: #252550; */
	/* border-bottom: #d7d2da 2px solid; */
	border-bottom: #dddee0 1px solid;
	margin-bottom: 1.5rem;
}

header > .navbar {
	padding: 1rem;
}

.navbar-footer {
	/* background-color: rgb(236, 171, 52); */
	color: #6a6e77;
	font-weight: 400;
}
