:root {
	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #d63384;
	--bs-red: #dc3545;
	--bs-orange: #fd7e14;
	--bs-yellow: #ffc107;
	--bs-green: #198754;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-white: #fff;
	--bs-gray: #7d879c;
	--bs-gray-dark: #373f50;
	--bs-gray-100: #f6f9fc;
	--bs-gray-200: #f3f5f9;
	--bs-gray-300: #e3e9ef;
	--bs-gray-400: #dae1e7;
	--bs-gray-500: #aeb4be;
	--bs-gray-600: #7d879c;
	--bs-gray-700: #4b566b;
	--bs-gray-800: #373f50;
	--bs-gray-900: #2b3445;
	--bs-primary: #fe696a;
	--bs-accent: #4e54c8;
	--bs-secondary: #f3f5f9;
	--bs-success: #42d697;
	--bs-info: #69b3fe;
	--bs-warning: #fea569;
	--bs-danger: #f34770;
	--bs-light: #fff;
	--bs-dark: #373f50;
	--bs-primary-rgb: 254, 105, 106;
	--bs-accent-rgb: 78, 84, 200;
	--bs-secondary-rgb: 243, 245, 249;
	--bs-success-rgb: 66, 214, 151;
	--bs-info-rgb: 105, 179, 254;
	--bs-warning-rgb: 254, 165, 105;
	--bs-danger-rgb: 243, 71, 112;
	--bs-light-rgb: 255, 255, 255;
	--bs-dark-rgb: 55, 63, 80;
	--bs-white-rgb: 255, 255, 255;
	--bs-black-rgb: 0, 0, 0;
	--bs-body-color-rgb: 75, 86, 107;
	--bs-body-bg-rgb: 255, 255, 255;
	--bs-font-sans-serif: 'Rubik', sans-serif;
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;
	--bs-gradient: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.15),
		rgba(255, 255, 255, 0)
	);
	--bs-body-font-family: var(--bs-font-sans-serif);
	--bs-body-font-size: 1rem;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 1.5;
	--bs-body-color: #4b566b;
	--bs-body-bg: #fff;
}

a {
	color: #7637ec;
}

body {
	font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	/* background-color: #f1f3f5; */
	background-color: #fff;
}

main {
	/* min-height: 90vh;  */
}

.rating span {
	margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}
.carousel-caption {
	position: absolute;
	top: 0;
}

.carousel-caption h2 {
	color: rgb(83, 90, 119);
}

.carousel img {
	height: 320px;
	/* padding: 30px; */
	/* margin: 40px; */
	/* border-radius: 70%; */
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}
.carousel a {
	margin: 0 auto;
}

.carousel-indicators {
	background-color: rgba(206, 234, 244, 0.065) !important;
}

@media (max-width: 900px) {
	.carousel-caption h2 {
		font-size: 2.5vw;
	}
}

.bg-white {
	background-color: #fff;
}
.bg-light-gray {
	background-color: rgb(224, 224, 224) !important;
}

.color-red {
	color: red !important;
}

.carousel-indicators {
	background-color: orange;
}

/* -------------------- */
/* SINGEL PRODUCT ITEM */
/* ------------------ */

/* .card-product-grid {
	box-shadow: 0 1px 2px rgb(51 51 51 / 7%);
	border-radius: 0.3rem;
} */

.card-img {
	/* position: relative; */
	text-align: center;
	overflow: hidden;
	/* display: block; */
	height: 200px;
	/* border: 1px solid green; */
	/* border-bottom: 1px solid rgb(219, 219, 219); */
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-img img {
	/* height: 100%; */
	max-height: 180px;
	/* max-height: 100%; */
	/* max-width: 100%; */
	max-width: 180px;
}

.card-title {
	max-height: 48px;
	overflow: hidden;
}
a.product-title {
	color: rgb(101, 100, 106);
	font-size: 16px;
	font-weight: 300;
}

.card {
	border: none;
}
.card-body {
	padding: 0.5rem 1rem;
}

.product-item-card {
	/* min-height: 344px; */
}
.product-item-card:hover {
	/* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; */
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), 0 4px 6px 0 rgba(0, 0, 0, 0.14);
}

header {
	/* background: #252550; */
	/* border-bottom: #d7d2da 2px solid; */
	background-color: #fff;
	border-bottom: #dddee0 1px solid;
	/* margin-bottom: 1rem; */
}

header > .navbar {
	/* padding: 1rem; */
	/* background-color: #04224e; */
	background-color: #052057;
	/* background-color: #193474; */
}

.navbar-footer {
	/* background-color: rgb(236, 171, 52); */
	color: #6a6e77;
	font-weight: 400;
}

.dropdown-item.active,
.dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #d8d8d8;
}

.navbar-footer a {
	color: rgb(52, 52, 52);
}

.gold {
	color: gold;
}

.btn-outline-google-plus {
	color: #dd4b39;
	border-color: #dd4b39;
}

.btn-outline-google-plus:hover {
	color: #fff;
	background-color: #dd4b39;
	border-color: #dd4b39;
}

.btn-outline-facebook {
	color: #3c5a99;
	border-color: #3c5a99;
}
.btn-outline-facebook:hover {
	color: #fff;
	background-color: #3c5a99;
	border-color: #3c5a99;
}

.auth-btns a {
	font-size: 1.2rem;
	font-weight: 500;
}

.navbar-tool {
	position: relative;
	display: flex;
	align-items: center;
}
.navbar-tool-icon-box {
	color: #d3dae7;
}
.navbar-tool-icon-box {
	position: relative;
	width: 2.875rem;
	height: 2.875rem;
	transition: color 0.25s ease-in-out;
	/* border-radius: 50%; */
	line-height: 2.625rem;
	text-align: center;
}
.navbar-tool-icon {
	font-size: 1.25rem;
	line-height: 2.875rem;
}

div.yt-spec-icon-badge-shape__badge {
	position: absolute;
	background-color: rgb(214, 0, 0);
	top: 0px;
	left: 24px;
	display: inline-block;
	padding: 0px 4px;
	min-width: 8px;
	max-width: 18px;
	height: 16px;
	border: 2px solid var(--yt-spec-brand-background-primary);
	border-radius: 22px;
	text-align: center;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}

.cart-plus-icon {
	color: limegreen;
	float: right;
	margin: 0.4rem;
	font-size: 1.5rem;
	cursor: pointer;
}
.cart-plus-icon:hover {
	color: rgb(11, 156, 11);
}

.department-dropdown .dropdown-menu {
	display: none;
}
.dropdown .dropdown-menu {
	display: none;
}
.department-dropdown:hover .dropdown-menu {
	display: block;
}
.dropdown:hover .dropdown-menu {
	display: block;
}
.department-dropdown .dropdown-menu {
	display: none;
}
.dropdown-menu {
	margin: 0;
}

.btn-outline-accent {
	border-color: rgba(78, 84, 200, 0.35);
	color: #4e54c8;
}

/* FOOTER  */
.widget-title {
	margin-bottom: 1.125rem;
	font-size: 1.0625rem;
	font-weight: 500;
}
.widget-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.widget-list-item {
	margin-bottom: 0.5rem;
}
.widget-light .widget-list-link {
	color: rgba(255, 255, 255, 0.65);
}
.widget-list-link {
	display: block;
	transition: color 0.25s ease-in-out;
	color: #4b566b;
	font-size: 0.875rem;
	font-weight: normal;
}

.capitalize {
	text-transform: capitalize;
}

.filters-sidebar {
	background-color: #fff;
	padding: 1rem;
}

.bg-white {
	background-color: #fff;
}

.page {
	padding: 1.5rem 0;
	height: 100vh;
	min-height: 700px;
}
.auth-page {
	padding: 2rem 0;
}

.dropdown-item.active,
.dropdown-item:active {
	color: rgb(0, 0, 0);
	text-decoration: none;
	background-color: #dbdfe0;
}

/* Slider Custom Style */
.slick-prev:before,
.slick-next:before {
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;
	opacity: 0.9;
	color: #b1cbe4 !important;
}

.auth-form-container {
	background-color: white;
	max-width: 400px;
	padding: 1.8rem;
	margin: 1.2rem auto;
	border-radius: 0.6rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

footer i {
	font-size: 2.4rem;
	margin-right: 0.5rem;
	color: #ee566f;
}

.hr-light {
	color: rgba(255, 255, 255, 0.12);
}
